In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("../dataset/static/download/bps-od_20948_persentase_penduduk_miskin__prov_di_indonesia_v2_data.csv")

In [2]:
df

,id,kode_provinsi,nama_provinsi,persentase_penduduk_miskin,satuan,tahun
0,1,11,ACEH,19.95,PERSEN,2010
1,2,12,SUMATERA UTARA,11.36,PERSEN,2010
2,3,13,SUMATERA BARAT,9.44,PERSEN,2010
3,4,14,RIAU,10.01,PERSEN,2010
4,5,15,JAMBI,8.40,PERSEN,2010
...,...,...,...,...,...,...
565,566,92,PAPUA BARAT DAYA,18.13,PERSEN,2024
566,567,94,PAPUA,17.26,PERSEN,2024
567,568,95,PAPUA SELATAN,17.44,PERSEN,2024
568,569,96,PAPUA TENGAH,29.76,PERSEN,2024
569,570,97,PAPUA PEGUNUNGAN,32.97,PERSEN,2024

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570 entries, 0 to 569
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          570 non-null    int64
 1   kode_provinsi               570 non-null    int64
 2   nama_provinsi               570 non-null    object
 3   persentase_penduduk_miskin  570 non-null    float64
 4   satuan                      570 non-null    object
 5   tahun                       570 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 26.8+ KB

In [4]:
df.head()

,id,kode_provinsi,nama_provinsi,persentase_penduduk_miskin,satuan,tahun
0,1,11,ACEH,19.95,PERSEN,2010
1,2,12,SUMATERA UTARA,11.36,PERSEN,2010
2,3,13,SUMATERA BARAT,9.44,PERSEN,2010
3,4,14,RIAU,10.01,PERSEN,2010
4,5,15,JAMBI,8.40,PERSEN,2010

In [12]:
df['nama_provinsi'].unique()

array(['ACEH', 'SUMATERA UTARA', 'SUMATERA BARAT', 'RIAU', 'JAMBI',
       'SUMATERA SELATAN', 'BENGKULU', 'LAMPUNG',
       'KEPULAUAN BANGKA BELITUNG', 'KEPULAUAN RIAU', 'DKI JAKARTA',
       'JAWA BARAT', 'JAWA TENGAH', 'DI YOGYAKARTA', 'JAWA TIMUR',
       'BANTEN', 'BALI', 'NUSA TENGGARA BARAT', 'NUSA TENGGARA TIMUR',
       'KALIMANTAN BARAT', 'KALIMANTAN TENGAH', 'KALIMANTAN SELATAN',
       'KALIMANTAN TIMUR', 'KALIMANTAN UTARA', 'SULAWESI UTARA',
       'SULAWESI TENGAH', 'SULAWESI SELATAN', 'SULAWESI TENGGARA',
       'GORONTALO', 'SULAWESI BARAT', 'MALUKU', 'MALUKU UTARA',
       'PAPUA BARAT', 'PAPUA BARAT DAYA', 'PAPUA', 'PAPUA SELATAN',
       'PAPUA TENGAH', 'PAPUA PEGUNUNGAN'], dtype=object)

In [13]:
df["tahun"]

0      2010
1      2010
2      2010
3      2010
4      2010
       ...
565    2024
566    2024
567    2024
568    2024
569    2024
Name: tahun, Length: 570, dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570 entries, 0 to 569
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          570 non-null    int64
 1   kode_provinsi               570 non-null    int64
 2   nama_provinsi               570 non-null    object
 3   persentase_penduduk_miskin  570 non-null    float64
 4   satuan                      570 non-null    object
 5   tahun                       570 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 26.8+ KB